// Import global variables (where you define $primary-color)
@import './_globals.scss'; 

.navbar {
  background-color: $primary-color; // Purple background from global variables
  padding: 1rem;

  .navbar-links {
    display: flex;
    justify-content: left;
    list-style-type: none;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: white; // White color for the links
        font-weight: bold;
        font-size: 18px;
        transition: color 0.3s;

        &:hover {
          color: $secondary-color; // Dark violet color when hovered
        }
      }
    }
  }
}
